---
import Layout from "../layouts/Layout.astro";
import Spacer from "../components/Spacer";
---

<Layout title="Fuzzy Fest - Stoner, Doom & Psych Rock Festivals in Europe">
  <section class="flex h-full w-full flex-col items-center gap-3 text-center text-white">
    <h1 class="font-blt mt-4 text-4xl font-black text-[salmon] drop-shadow-[0px_5px_0_#724641] lg:text-5xl">
      FUZZY FEST
    </h1>
    <p class="text-xl">Welcome !</p>
    <p>
      Fuzzy Fest is an interactive map of music festivals featuring heavy psych, desert rock, stoner, prog,
      doom... in Europe.
    </p>
    <Spacer label="Start browsing :" />
    <a class="text-xl text-[salmon] underline transition hover:text-white" href={`/2026`}
      >Full list of festivals in 2026</a
    >
    <Spacer />
    <div>
      <p>Last updated on January 23rd</p>
      <ul class="text-sm text-neutral-400">
        <li>※ Updated Desertfest Liège, Celebration Days, Fekete Zaj</li>
        <li>※ Now showing matching bands from the search bar directly on the festival list</li>
      </ul>
    </div>
    <p>
      Suggestions and feedback welcome : <a
        class="text-[salmon] transition hover:text-white"
        href="https://www.instagram.com/raphael.pucky/">@raphael.pucky</a
      >
    </p>
  </section>
</Layout>

<script>
  // if (localStorage.getItem("visited")) {
  //   window.location.href = `/${new Date().getFullYear()}`;
  // } else {
  //   localStorage.setItem("visited", "true");
  //   document.querySelector("section")!.style.display = "flex";
  // }
</script>
