---
const changelog = [
  {
    "date": "2026-03-01",
    "content": [
      "Added JunkYard Open Air (DE), Love Potion Psych Fest (FI)",
      "Updated Down the Hill, Esbjerg Fuzztival, For Doom the Bell Tolls, Fuzz Club, Grand Paris Sludge, Hoflärm, Into the Void, Krach Am Bach, Mass Echoes, Masters of the Riff, Obsidian Dust, PALP Rocklette, Roadburn, Saalepartie, Up in Smoke"
    ],
  },
  {
    "date": "2026-02-10",
    "content": [
      "Updated Heavy Psych Sounds Fest (Greece, Italy, Switzerland, Belgium, Netherlands), Bluemoon Festival, Bearstone Festival, Stoned from the Underground, Namass Pamouss",
    ],
  },
  { "date": "2026-01-27", "content": ["Updated Red Smoke Festival"] },
  {
    "date": "2026-01-23",
    "content": [
      "Updated Desertfest Liège, Celebration Days, Fekete Zaj",
      "Now showing matching bands from the search bar directly on the festival list",
    ],
  },
];
---

<div class="text-left text-sm max-w-8/10">
  {changelog.map((log) => (
      <p class="text-neutral-300 mt-2">{log.date}</p>
      <ul class="text-neutral-400">
        {log.content.map((item) => (
          <li>※ {item}</li>
        ))}
      </ul>
  ))}
</div>