<a
  href="/"
  class="font-blt absolute z-999 w-min max-w-2/5 cursor-pointer p-2 text-center text-3xl leading-6 text-[lightcoral] drop-shadow-[0px_5px_0_#724641] sm:leading-none sm:text-nowrap md:text-4xl lg:text-5xl"
>
  FUZZY FEST
</a>
