@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
  background: #333;
  scrollbar-gutter: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}

.maplibregl-popup {
  max-width: none !important;
  opacity: 0.9;
}

.maplibregl-popup-content {
  background: #262626 !important;
  border-radius: 0.5rem !important;
  border: none !important;
  box-shadow: none !important;
}

.maplibregl-popup-tip {
  border-top-color: #262626 !important;
}