@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
  background: #333;
  scrollbar-gutter: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}