---
import "../global.css";
import { ClientRouter } from "astro:transitions";
import Map from "../components/Map.jsx";
import Sidebar from "../components/Sidebar.astro";
import { getFestivalsByYear } from "../utils/content.js";

const path = Astro.url.pathname;
const { year } = Astro.params;
const { title } = Astro.props;
const currentYear = year ? +year : new Date().getFullYear();
const festivals = await getFestivalsByYear(currentYear);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="/preview.webp" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="description" content="Heavy music festivals in Europe" />
    <meta name="keywords" content="music, festival, heavy, stoner, doom, psychedelic" />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body>
    <main class="flex h-dvh w-full flex-col bg-gradient-to-t from-neutral-950 to-neutral-800 lg:flex-row">
      <Map festivals={festivals} path={path} client:only transition:persist />
      <Sidebar>
        <slot />
      </Sidebar>
    </main>
  </body>
</html>
